*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #E30000;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    box-sizing: border-box;
    overscroll-behavior: contain;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 18%;
    color: #FFFFFF;
    position: relative;
    /* padding: 20px; */

}

.top-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }
  
  .back-button {
    background: none;
    border: none;
    font-size: 20px;
    color: #f5f5f5;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
  }
  
  .link-back{
    text-decoration: none;
    color: #f5f5f5;
  }
  
  .logo {
    height: 24px;
    margin-right: 20px;
  }
  


.title {
    font-size: 16px;
}

h2{
    all: unset;
    font-size: 20px;
    position: absolute;
    bottom: 16%;
}

main{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #E0E0E0;
    height: 84%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.content{
    position: absolute;
    top: 8%;
    height:84%;
    width: 76%;
    gap: 4%;
    display: grid;
    place-items: center;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: 1fr;
    gap: 40px;
}

.item {
    position: relative;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 10px;
    overflow: hidden;
}

.item p {
    margin-left: 10px;
}

.line-color {
    width: 70px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.item_icon {
    width: 32px;
    height: 32px;
}

.content .item:nth-child(1) .line-color {
    background-color: #E30000; /* Vermelho */
}

.content .item:nth-child(2) .line-color {
    background-color: #8c2b61; /* Ruby */
}
.content .item:nth-child(3) .line-color {
    background-color: #458797; /* Turquesa */
}
.content .item:nth-child(4) .line-color {
    background-color: #bf4124; /* Coral */
}
.content .item:nth-child(5) .line-color {
    background-color: #1c146b; /* Safira */
}
.content .item:nth-child(6) .line-color {
    background-color: #038c3e; /* Jade */
}

